.title {
  text-align: center;
  color: #737373;
}

.blog {
  background-color: #D9D9D9;
  padding: 25px;

  .blog__content {
    margin-block: 25px;

    .blog__link {
      width: 100%;
      border: 1px solid #FFFFFF;
      text-decoration: none;
      color: #737373;
      transition: all 0.5s;

      &:hover {
        color: #000000;
        background: #C2C2C2;

        .blog__desc {
          background-color: #FCC2C2;
        }
      }

      .blog__title {
        margin: 0;
        padding-block: 20px;
        text-align: center;
      }

      .blog__desc {
        width: 100%;
        margin: 0;
        text-align: center;
        height: 15vh;
        background-color: #F9D7D7;
        align-content: center;
        transition: all .5s;
      }
    }
  }
}