.blog {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 12px;
  padding-block: 15px;
  font-weight: 400;
}

.banner {
  width: 100%;
  height: 150px;
  background-color: #D9D9D9;
  margin-block: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 12px;
  }
}

.blogContent {
  width: 60%;
  background-color: #D9D9D9;
  padding-inline: 25px;

  .blogContent__item {
    width: 100%;
    display: block;
    height: 70px;
    background-color: #F9D7D7;
    margin-bottom: 25px;

    .blogContent__link {
      width: 100%;
      height: 100%;
      transition: .5s;

      &:hover {
        background-color: #FCC2C2;
      }
    }
  }
}

.news {
  width: 25%;
  background-color: #D9D9D9;
  padding-inline: 25px;

  .news__item {
    width: 100%;
    height: 110px;
    background-color: #BDCDF6;
    margin-bottom: 10px;

    .news__link {
      width: 100%;
      height: 100%;
      transition: .5s;

      &:hover {
        background-color: #A8BBED;
      }
    }
  }
}