header {
  display: flex;
  background-color: #D9D9D9;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 50px;
  position: relative
}

h1 {
  margin: 0;
  font-size: 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: 400;
}

a {
  display: inline-block;
}

ul, li  {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  width: 180px;
  height: 37px;
  background-color: #F1F2AE;
  margin-left: 25px;
}

.navbar {
  display: flex;
  gap: 19px;
  padding-right: 25px;

  .navbar__item {
    width: 46px;
    height: 37px;

    a {
      width: 100%;
      height: 100%;
      background-color: #E7EFD6;
    }
  }
}