header {
  display: flex;
  background-color: #D9D9D9;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 50px;
  position: relative
}

h1 {
  margin: 0;
  font-size: 32px;
  width: 100%;
  text-align: center;
  font-weight: 400;
  padding-top: 25px;
}

a {
  display: inline-block;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__logo {
  width: 180px;
  height: 37px;
  background-color: #F1F2AE;
  margin-left: 25px;
  z-index: 1;
}

.header__title {
  position: absolute;
  font-size: 12px;
  padding-top: unset;
}

nav {
  z-index: 1;

  .navbar {
    display: flex;
    gap: 19px;
    padding-right: 25px;
    z-index: .3;

    .navbar__link {
      text-decoration: none;
      color: #737373;
      width: 100%;
      height: 100%;
      transition: all .5s;

      &:hover {
        color: #000000;
      }
    }
  }
}