.blog {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner {
  width: 100%;
  height: 150px;
  background-color: #D9D9D9;
  margin-block: 20px;
}

.blogContent {
  width: 60%;
  background-color: #D9D9D9;
  padding: 20px 25px 25px;

  .blogContent__item {
    width: 100%;
    display: block;
    height: 70px;
    background-color: #F9D7D7;
    margin-top: 30px;
  }
}

.news {
  width: 25%;
  background-color: #D9D9D9;
  padding: 40px 25px 25px;

  .news__item {
    width: 100%;
    height: 110px;
    background-color: #BDCDF6;
    margin-top: 10px;
  }
}